.root {
  z-index: 10000;
}

.drawerButton {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10000;
}

.drawer {
  z-index: 10000;
}

.list {
  display: flex;
  margin: 10px 0;
}

.items {
  padding: 15px 20px;
  flex: 1 1 auto;
}