@use "reset";

html,
body,
#root {
  height: 100%;
}

.leaflet-container {
  z-index: 10;
}

.leaflet-control-zoom {
  position: absolute;
  bottom: 30px;
  left: 10px;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}